@charset "UTF-8";

@font-face { font-family: "Nothing You Could Do";
             src: url("fonts/NothingYouCouldDo-Regular.ttf") format("truetype");
             font-weight: normal;
             font-style: normal; }

@font-face { font-family: "Bitter";
             src: url("fonts/Bitter/Bitter-Regular.ttf") format("truetype");
             font-weight: normal;
             font-style: normal; }

#root {
  border-left: 0.1em solid var(--bg2);
  padding: 1em;
}

a:link.pigment-inherit,
a:visited.pigment-inherit {
  color: inherit;
}

.pigment-ideas { color: var(--fg-ideas); background: var(--bg-ideas); }
.pigment-publications { color: var(--fg-publications); background: var(--bg-publications); }
.pigment-people { color: var(--fg-people); background: var(--bg-people); }
.pigment-timelines { color: var(--fg-timelines); background: var(--bg-timelines); }

.pigment-fg-ideas { color: var(--fg-ideas); }
.pigment-fg-publications { color: var(--fg-publications); }
.pigment-fg-people { color: var(--fg-people); }
.pigment-fg-timelines { color: var(--fg-timelines); }

.delete-confirmation {
  padding-left: 3em;
  padding-right: 1em;
  font-size: 1.3em;
}

/* -------------------------------------------------------------------------------- */

.image-widget-hover-message {
  font-size: 4em;
  z-index: -1;                  /* beneath the transparent widget container which used for drag and drop */
  margin: auto;
}

.image-widget-hovering {
  background: rgba(255, 128, 64, 0.2) !important; /* transparent hover region */
  height:150px;
  padding: 1em 0 2.5em 0;
}

.image-widget-container {
  background: var(--bg2);
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 1em;
}

.image-widget-item {
  /* flex: 0 0 auto; */
  padding: 1em 0 1em 1em;
}

.image-widget-img {
  height:100%;
  max-height:150px;
}

/* -------------------------------------------------------------------------------- */

.civsel-form {
  width: 100%;
}
.civsel-main-box {
  /* background: #ffffff; */
}
.civsel-candidate {
  background: #ecd2a2;
  padding: 0.4em;
  margin: 0.2em;
  width: max-content;
  cursor: cell;
}

.civsel-reference {
  background: #ecd2a2;
  padding: 0.4em;
  margin: 0.2em;
  width: max-content;
}

.civsel-delete-selected {
  cursor: pointer;
}

.civsel-annotation {
  width: 30em;
  margin-left: 1em;
}

/* -------------------------------------------------------------------------------- */

section.rolled-down {
}

section.rolled-up {
  color: var(--fg-inactive);
}

/* -------------------------------------------------------------------------------- */

.quickfind-form {
  width: 100%;
}

.quickfind-candidate {
  background: #ecd2a2;
  padding: 0.4em;
  margin: 0.2em;
  width: max-content;
  cursor: pointer;
}

/* -------------------------------------------------------------------------------- */

.pointform-block label { }
.pointform-block input { width: 2em; margin-top: 0.3em; }
.pointform-space-top { margin-top: 1em; }

em:before {
  content: "\00201C";           /* opening double quote: &#8220; converted to hex*/
}
em:after {
  content: "\00201D";           /* closing double quote: &#8221; converted to hex*/
}

.svg-container {
  width: 80%;
}

.svg-pseudo-link:hover {
  cursor: pointer;
}

.unselectable-text {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

a:link {
  text-decoration: none;
}

a:link.note-inline-link {
  color: var(--hyperlink);
  text-decoration: underline;
}

.sticky-bl {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  right: 1rem
}

.sticky-tl {
  position: absolute;
  left: 1rem;
  top: 1rem;
  right: 1rem
}

p {
  text-align: justify;
}
.sidenote {
  text-align: left;
}

.scribblenote {
  font-family: 'Nothing You Could Do', cursive;
  color: var(--scribble);
  font-size: 1.5em;
  text-align: left;
}

label.margin-toggle {
  color: var(--hyperlink);
}

.shell-block {
  padding: 2em 0 2em 2em;
}

.shell-line {
  padding: 0.2em 0 0.2em 0;
}

.invisible { display: none; }

.underlined {
  text-decoration: underline;
}

#login-menuitem {
  float: right;
  clear:both;
}

p.fakelink {
  cursor: pointer;
  text-decoration: underline;
}

section > form { width: var(--block-width); }

/* civil: so that the p in civil behaves like the section > p in tufte */
.note p {
  width: var(--block-width);
}
.note ol {
  width: var(--block-width);
}
.note ul {
  width: var(--block-width);
}
.note li {
  width: 96%;
}

/* the left-hand spanne that contains noterefs, 'add note icons' etc*/
.spanne {
  padding-top: 0.5em;
  float: left;
  margin-left: -40%;
  width: 40%;
  color: var(--fg1);
  text-align: right;

  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.spanne-in-listing {
  /* don't want the padding as each li is only a single line */
  padding-top: 0.0em;
}

/* like spanne but inline for adding notes to points */
.inline-spanne {
  color: var(--fg1);
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  margin-left: 4em;
}

@media (max-width: 1200px) {
  .spanne {
    float: right;
    text-align: left;
    width: 28%;
  }
}

@media (max-width: 800px) {
  .spanne {
    display: none;
  }
  .inline-spanne {
    display: none;
  }
}

.cancel-offset {
  margin-top: 2em;
}

.clickable {
  cursor: pointer;
}

.spanne-entry {
  padding-right: 3em;
}

.spanne-entry a {
  text-decoration: none;
}

.spanne-icon-label {
  vertical-align: super;
  margin-right: 0.5em;
}

.append-note {
  margin-top: 2em;
  margin-bottom: 4em;
}

#top-bar-menu {
  padding-bottom: 0.5em;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-color: var(--divider);

  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

mark.highlight {
  background: var(--highlight);
}

mark.scribbled-out {
  background: url(/img/scribble-short.png);
  background-repeat: repeat-x;
  background-size: 100% 95%;
  padding: 8px 0;
}

a.top-bar-menuitem {
  margin-left: 1em;
  margin-right: 1em;
  padding: 0.4em 1em 0.2em 1em;
  border-radius: var(--coloured-deck-border-radius);
}

.noteref-kind {
  font-size: 75%;
  color: var(--fg1);
  padding-right: 1em;
}

.noteref {
  padding: 0.1em 0.5em 0.1em 0.5em;
  border-radius: var(--coloured-deck-border-radius);
}

.noteref-annotation {
  font-family: 'Nothing You Could Do', cursive;
  padding-bottom: 0.3em;
  width: 20em;
  float: right;
}

.noteref-clearer {
  clear: both;
}

blockquote.quote > textarea {
  width: var(--block-width);
  height: 10em;
}

div.note > textarea {
  width: 100%;
  height: 10em;
}

hr {
  display: block;
  height: 1em;
  width: var(--block-width);
  border: 0;
  border-top: 2px solid var(--divider);
  margin: 1em 0;
  padding: 0;
}

.civil-form {
  font-family: monospace;
  padding-top: 2em;
  padding-bottom: 1em;
}

.civil-add-note-form {
  font-family: monospace;
  width: var(--block-width);
}

.civil-date-hint {
  color: var(--fg1);
  float:right;
  padding-right: 1em;
}

.civil-date-hint-after {
  clear: both;
}

.pointform-checkbox {
  width: 10%;
}

#separator {
  width: 10%;
}

/* --------------------------------------------------------------------------------
a bunch of hacks so that notes within points look correct
*/
/* set .point-notes to match tufte.css:44 */
.point-notes {
  font-size: 15px;
}

div.point-notes > div.note > div > div > p {
  margin-left: 3em;
  width: var(--block-width-indented);
}
/* -------------------------------------------------------------------------------- */

.point-title {
  padding-bottom: 1em;
}

.civil-location input[type=number]{
  width: 5em;
}

input:required {
  box-shadow: none;
}

.deckpoint-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.deckpoint-block label {}
.deckpoint-block input { width: 2em; margin-top: 0.3em; margin-left: 2em;}

/* .deckpoint-block label { display: inline-block; width: 12em; text-align: right; } */
/* .deckpoint-block input { width: 2em; } */

.deckpoint {
  color: var(--fg1);
}

.deckpoint a {
  /* same as the background colour, this is how to hide the underline effect used in tufte.css */
  background: var(--bg);
}

.deckpoint-age {
  display: inline-block;
  width: 1.5em;
}

/* compacted list: squish the elements together as comma separated items */

.compacted-list {
  padding-left: 1.5em;
}

.compacted-list > li {
  padding-right: 0.5em;
  display: inline-block;

}

.compacted-list li:after {
  content: ", ";
}

.compacted-list li:last-child:after {
    content: "";
}

/* standard list: every element is on a separate line */

.standard-list {
  padding-left: 1em;
}

.standard-list > li {
  list-style-type: none;
}

.short-description {
  font-family: 'Nothing You Could Do', cursive;
  color: var(--scribble);
  margin-left: 1em;
  font-size: 1em;
}
