:root {
  --bg: #f5f2f0;
  --fg: rgb(15, 12, 10);

  --fg1: #666; /* linked decks (i.e. tags) */
  --fg-inactive: #999;

  --graph-edge: #ababab;             /* sat: 0,  light:70 */
  --graph-edge-in-contrast: #73b4c8; /* sat:60.2,light:70 clock05 */
  --graph-edge-critical: #e2969d;    /* sat:60.2,light:70 clock10 */

  --bg1: #eeeee8;
  --bg2: #ede7e3;

  --divider: #ccc;

  --scribble: #007bc7;          /* clock06 saturation: 100.0 lightness: 50 */
  --hyperlink: #5279a8;         /* clock06 saturation: 60.2 lightness: 50 */
  --highlight: #ebe900;         /* hue: 85 sat:100 light:90*/

  /* saturation: 60.2 lightness: 90 */
  --bg-ideas: #d9e3f3;             /* clock06 */
  --bg-publications: #f4e0b2;      /* clock12 */
  --bg-people: #f4dce7;            /* clock09 */
  --bg-timelines: #98f4d1;         /* clock03 */

  /* saturation: 60.2 lightness: 50 */
  --fg-ideas: #5279a8;             /* clock06 */
  --fg-publications: #867548;      /* clock12 */
  --fg-people: #bc508e;            /* clock09 */
  --fg-timelines: #4b816d;         /* clock03 */

  --body-width: 80%;
  --block-width: 55%;
  --block-width-indented: 50%;

  --coloured-deck-border-radius: 0.3em;
}

@media (max-width: 1200px) {
  :root {
    --body-width: 93.5%;
    --block-width: 70%;
  }
}

@media (max-width: 800px) {
  :root {
    --body-width: 97.5%;
    --block-width: 90%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #2b2b2b;
    --fg: #a6a8aa;

    --fg1: #999; /* linked decks (i.e. tags) */
    --fg-inactive: var(--fg1);

    --graph-edge: #5e5e5e;             /* sat: 0,  light:40 */
    --graph-edge-in-contrast: #3d636f; /* sat:60.2,light:40 clock05 */
    --graph-edge-critical: #a23a47;    /* sat:60.2,light:40 clock10 */

    --bg1: #171717;
    --bg2: #12181C;

    --divider: #444;

    --scribble: #007bc7;          /* clock06 saturation: 100.0 lightness: 50 */
    --hyperlink: #5279a8;         /* clock06 saturation: 60.2 lightness: 50 */
    --highlight: #ebe900;         /* hue: 85 sat:100 light:90*/

    /* saturation: 60.2 lightness: 50 */
    --bg-ideas: #5279a8;             /* clock06 */
    --bg-publications: #867548;      /* clock12 */
    --bg-people: #bc508e;            /* clock09 */
    --bg-timelines: #4b816d;         /* clock03 */

    /* saturation: 60.2 lightness: 90 */
    --fg-ideas: #d9e3f3;             /* clock06 */
    --fg-publications: #f4e0b2;      /* clock12 */
    --fg-people: #f4dce7;            /* clock09 */
    --fg-timelines: #98f4d1;         /* clock03 */
  }
}
