@charset "UTF-8";

@font-face { font-family: "Nothing You Could Do";
             src: url("fonts/NothingYouCouldDo-Regular.ttf") format("truetype");
             font-weight: normal;
             font-style: normal; }

@font-face { font-family: "Bitter";
             src: url("fonts/Bitter/Bitter-Regular.ttf") format("truetype");
             font-weight: normal;
             font-style: normal; }

#root {
  padding: 1em;
}

a:link.pigment-inherit,
a:visited.pigment-inherit {
  color: inherit;
}

.pigment-notes { color: var(--fg-notes); background: var(--bg-notes); }
.pigment-archived-notes { color: var(--fg-archived-notes); background: var(--bg-archived-notes); }

.pigment-fg-notes { color: var(--fg-notes); }
.pigment-fg-archived-notes { color: var(--fg-archived-notes); }

.pigment-clock-12 { background: var(--bg-clock-12); color: var(--fg-clock-12);}
.pigment-clock-01 { background: var(--bg-clock-01); color: var(--fg-clock-01);}
.pigment-clock-02 { background: var(--bg-clock-02); color: var(--fg-clock-02);}
.pigment-clock-03 { background: var(--bg-clock-03); color: var(--fg-clock-03);}
.pigment-clock-04 { background: var(--bg-clock-04); color: var(--fg-clock-04);}
.pigment-clock-05 { background: var(--bg-clock-05); color: var(--fg-clock-05);}
.pigment-clock-06 { background: var(--bg-clock-06); color: var(--fg-clock-06);}
.pigment-clock-07 { background: var(--bg-clock-07); color: var(--fg-clock-07);}
.pigment-clock-08 { background: var(--bg-clock-08); color: var(--fg-clock-08);}
.pigment-clock-09 { background: var(--bg-clock-09); color: var(--fg-clock-09);}
.pigment-clock-10 { background: var(--bg-clock-10); color: var(--fg-clock-10);}
.pigment-clock-11 { background: var(--bg-clock-11); color: var(--fg-clock-11);}

.delete-confirmation {
  padding-left: 3em;
  padding-right: 1em;
  font-size: 1.3em;
}

/* -------------------------------------------------------------------------------- */

.add-note-form {
  padding-top: 1em;
  width: 100%;
}

/* -------------------------------------------------------------------------------- */

em:before {
  content: "\00201C";           /* opening double quote: &#8220; converted to hex*/
}
em:after {
  content: "\00201D";           /* closing double quote: &#8221; converted to hex*/
}

.unselectable-text {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

a:link {
  text-decoration: none;
}

a:link.note-inline-link {
  color: var(--hyperlink);
  text-decoration: underline;
}

.sticky-bl {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  right: 1rem
}

.sticky-tl {
  position: absolute;
  left: 1rem;
  top: 1rem;
  right: 1rem
}

p {
  text-align: justify;
}
.sidenote {
  text-align: left;
}

.scribblenote {
  font-family: 'Nothing You Could Do', cursive;
  color: var(--scribble);
  font-size: 1.5em;
  text-align: left;
}

label.margin-toggle {
  color: var(--hyperlink);
}

.shell-block {
  padding: 2em 0 2em 2em;
}

.shell-line {
  padding: 0.2em 0 0.2em 0;
}

.invisible { display: none; }

.underlined {
  text-decoration: underline;
}

#login-menuitem {
  float: right;
  clear:both;
}

p.fakelink {
  cursor: pointer;
  text-decoration: underline;
}

section > form { width: var(--block-width); }

/* memo: so that the p in memo behaves like the section > p in tufte */
.note p {
  width: var(--block-width);
}
.note ol {
  width: var(--block-width);
}
.note ul {
  width: var(--block-width);
}
.note li {
  width: 96%;
}

/* the left-hand spanne that contains noterefs, 'add note icons' etc*/
.spanne {
  padding-top: 0.5em;
  float: left;
  margin-left: -40%;
  width: 40%;
  color: var(--fg1);
  text-align: right;

  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.spanne-in-listing {
  /* don't want the padding as each li is only a single line */
  padding-top: 0.0em;
}

/* like spanne but inline for adding notes to points */
.inline-spanne {
  color: var(--fg1);
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  margin-left: 4em;
}

@media (max-width: 1200px) {
  .spanne {
    float: right;
    text-align: left;
    width: 28%;
  }
}

@media (max-width: 800px) {
  .spanne {
    display: none;
  }
  .inline-spanne {
    display: none;
  }
}

.cancel-offset {
  margin-top: 2em;
}

.clickable {
  cursor: pointer;
}

.spanne-entry {
  padding-right: 3em;
}

.spanne-entry a {
  text-decoration: none;
}

.spanne-icon-label {
  vertical-align: super;
  margin-right: 0.5em;
}

.append-note {
  margin-top: 2em;
  margin-bottom: 4em;
}

#top-bar-menu {
  padding-bottom: 0.5em;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-color: var(--divider);

  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

mark.highlight {
  background: var(--highlight);
}

mark.scribbled-out {
  background: url(/img/scribble-short.png);
  background-repeat: repeat-x;
  background-size: 100% 95%;
  padding: 8px 0;
}

a.top-bar-menuitem {
  margin-left: 1em;
  margin-right: 1em;
  padding: 0.4em 1em 0.2em 1em;
  border-radius: var(--coloured-deck-border-radius);
}

blockquote.quote > textarea {
  width: var(--block-width);
  height: 10em;
}

div.note > textarea {
  width: 100%;
  height: 10em;
}

hr {
  display: block;
  height: 1em;
  width: var(--block-width);
  border: 0;
  border-top: 2px solid var(--divider);
  margin: 1em 0;
  padding: 0;
}

#separator {
  width: 10%;
}

input:required {
  box-shadow: none;
}

.deckpoint-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

/* -------------------------------------------------------------------------------- */

.form-container {
  margin-left: auto;
  margin-right: auto;
  width: 40em;
}

@media (max-width: 760px) {
  .form-container {
    width: 100%
  }
}


#content {
  width: 100%;
}

.card-holder {
}

.card {
  width: 25em;
  margin: 1em;
  box-shadow: 0px 2px 2px 1px #ddd;
  border-radius: 8px;
  display: inline-block;
  vertical-align: top;
}

.card-body {
  padding: 1em;
}

.card-title {
  font-weight: 400;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
  line-height: 1;
}

.card-action {
  border-top: 1px solid rgba(160,160,160,0.2);
  padding-top: 1em;
}
